@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

main {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}
